<div class="event" bis_skin_checked="1">
  <div class="content" bis_skin_checked="1">
    <div class="summary" bis_skin_checked="1">
      <a><%= message.user.username %></a>:  <%= message.body %>
    </div>
  </div>
</div>
