<h4 class="ui center aligned medium icon header">
  <i class="circular blue braille icon"></i>
  Say Something
</h4>
<div class="ui two grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox" bis_skin_checked="1">
      <div class="content" bis_skin_checked="1">
        <div class="ui small feed" bis_skin_checked="1">
          <div class="event" bis_skin_checked="1">
            <div class="content" bis_skin_checked="1">
              <div class="summary" bis_skin_checked="1">
                <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" bis_skin_checked="1">
            <div class="content" bis_skin_checked="1">
              <div class="summary" bis_skin_checked="1">
                <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" bis_skin_checked="1">
            <div class="content" bis_skin_checked="1">
              <div class="summary" bis_skin_checked="1">
                <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" bis_skin_checked="1">
            <div class="content" bis_skin_checked="1">
              <div class="summary" bis_skin_checked="1">
                <a>Christian Rocha</a> signed up for the  site.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field" bis_skin_checked="1">
            <div class="ui fluid icon input" bis_skin_checked="1">
              <input type="text" placeholder="Type your message here">
              <i class="bordered inverted blue send icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox" bis_skin_checked="1">
      <div class="content" bis_skin_checked="1">
        <div class="ui inverted vertical menu" bis_skin_checked="1">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
