<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to "Chatrooms", root_path, class: "item"%>
    <div class="right menu">
      <% if logged_in? %>
        <div class="item">
          Afzal Ali <i class="dropdown icon"></i>
        </div>
        <%= button_to "Logout", logout_path, class: "item", method: :delete%>
      <% else %>
        <%= link_to "Login", login_path, class: "item"%>
      <% end %>
    </div>
  </div>
</div>
